@namespace GFCA.WebUI.Components.AdminLte
<li class="nav-item">
    <NavLink class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
    </NavLink>
</li>