@page "/Login"
<!-- note: using styles, not css, we will target Isolated CSS for this component when we upgrade to .NET5 -->
<Overlay>
    <div style=" margin: 0 auto; margin-top: 10%; max-width: 400px;">
        <div class="lockscreen-logo" style=" font-size: 35px; font-weight: 300; margin-bottom: 25px; text-align: center;">
            <a href="/"><b>Asiatic APT</b></a>
        </div>
        
        <!-- START LOCK SCREEN ITEM -->
        <div style=" border-radius: 4px; background: #fff; margin: 10px auto 30px; padding: 0; position: relative; width: 290px;">
            
            <!-- lockscreen credentials (contains the form) -->
            <form style="margin-left: 70px;">
                <div class="input-group" style="margin-bottom:3px;">
                    <input type="text" style="border: 0;outline: none;" placeholder="username">
                </div>
                <div class="input-group">
                    <input type="password" style="border: 0;outline: none;" placeholder="password">
                    <div class="input-group-append">
                        <button type="button" class="btn"><i class="fas fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <div class="lockscreen-footer text-center">
            Copyright © 2014-2019 <br>
            All rights reserved
        </div>
    </div>
</Overlay>